
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <form method="POST" action="/api/auth/register">
    <input name="username" type="text" />
    <input name="password" type="password" />
    <button type="submit">Submit</button>
  </form>
</body>
</html>
