<div>
  <% @lists.each do |list| %>
    <li style="display: flex; gap: 1rem;">
      <a href="/lists/<%= list['id']%>/todos"><%= list['name'] %></a>
      <form class="delete" action="/lists/<%= list["id"] %>/delete" method="post">
        <input type="submit" value="Ta bort">
      </form>
    </li>
  <% end %>

  <form action="/lists" method="post">
    <input name="name" type="text" minlength="3" />
    <input type="submit" value="Skapa lista">
  </form>
</div>
