<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <form action="/api/rooms" method="POST">
      <label>
        <span>
          Classroom name:
        </span>
        <input name="class-name" />
      </label>
    </form>
  </body>
</html>

