<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="h-screen grid grid-rows-[auto_1fr_auto]">
    <header class="flex justify-between w-full py-3 px-4 border-b border-1">
      <h1 class="text-lg font-semibold italic italic">Budget classroom</h1>
      <nav class="flex gap-6 items-center">
        <a href="/classes/create" aria-label="Create class">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z"
              fill="currentColor"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 22C3.34315 22 2 20.6569 2 19V5C2 3.34315 3.34315 2 5 2H19C20.6569 2 22 3.34315 22 5V19C22 20.6569 20.6569 22 19 22H5ZM4 19C4 19.5523 4.44772 20 5 20H19C19.5523 20 20 19.5523 20 19V5C20 4.44772 19.5523 4 19 4H5C4.44772 4 4 4.44772 4 5V19Z"
              fill="currentColor"
            />
          </svg>
        </a>
        <a rel="preload" href="/profile">
          Create class
        </a>
      </nav>
    </header>
    <main class="p-3 overflow-scroll">
      <div class="flex flex-wrap justify-center gap-6">
        <div class="border border-1 rounded w-[300px]">
          <div class="border-b p-3 h-[120px] flex flex-col bg-blue-400">
            <h1 class="text-2xl font-semibold text-white">Kemi</h1>
            <p class="text-sm text-white">testing nice descritiopn</p>
            <p class="text-md mt-auto text-white">Niklas börjesson</p>
          </div>
          <div class="p-2 flex justify-end gap-2">
            <form method="POST" action="/api/classes/ignore-class/class_id">
              <button class="hover:bg-gray-200 transition-[0.3s] rounded cursor-pointer font-semibold px-3 py-1">Ignore</button>
            </form>
            <form method="POST" action="/api/classes/join-class/class_id">
              <button class="px-3 py-1 bg-blue-500 text-white font-semibold rounded cursor-pointer hover:bg-blue-600 transition-[0.3s]">Join</button>
            </form>
          </div>
        </div>

        <a class="border border-1 rounded w-[300px]" href="/classes/nice_class_id">
          <div class="border-b p-3 h-[120px] flex flex-col bg-orange-400">
            <h1 class="text-2xl font-semibold text-white">Matte</h1>
            <p class="text-sm text-white">testing nice descritiopn</p>
            <p class="text-md mt-auto text-white">Go lerare</p>
          </div>
        </a>
      </div>
    </main>
    <%= render_component :footer %>
    <footer class="flex justify-between p-2 border-t">
      <span>Created by <a href="https://v-thomas.com/github" class="italic underline">Vincent Thomas</a></span>
    </footer>
  </body>
</html>

