<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="h-screen grid grid-rows-[auto_1fr_auto]">
    <header class="flex justify-between w-full py-3 px-4 border-b border-1">
      <h1 class="text-lg font-semibold italic italic">Budget classroom</h1>
      <nav class="flex gap-4 items-center">
        <a rel="preload" href="/profile">
          Create class
        </a>
      </nav>
    </header>
    <main class="p-3 overflow-scroll">
      <div class="flex flex-wrap justify-center gap-6">
        <div class="border border-1 rounded w-[300px]">
          <div class="border-b p-3 h-[120px] flex flex-col bg-blue-400">
            <h1 class="text-2xl font-semibold text-white">Kemi</h1>
            <p class="text-sm text-white">testing nice descritiopn</p>
            <p class="text-md mt-auto text-white">Niklas börjesson</p>
          </div>
          <div class="p-2 flex justify-end gap-2">
            <form method="POST" action="/api/classes/ignore-class/class_id">
              <button class="hover:bg-gray-200 transition-[0.3s] rounded cursor-pointer font-semibold px-3 py-1">Ignore</button>
            </form>
            <form method="POST" action="/api/classes/join-class/class_id">
              <button class="px-3 py-1 bg-blue-500 text-white font-semibold rounded cursor-pointer hover:bg-blue-600 transition-[0.3s]">Join</button>
            </form>
          </div>
        </div>

        <a class="border border-1 rounded w-[300px]" href="/classes/nice_class_id">
          <div class="border-b p-3 h-[120px] flex flex-col bg-orange-400">
            <h1 class="text-2xl font-semibold text-white">Matte</h1>
            <p class="text-sm text-white">testing nice descritiopn</p>
            <p class="text-md mt-auto text-white">Go lerare</p>
          </div>
        </a>
      </div>
    </main>
    <%= render_component :footer %>
    <footer class="flex justify-between p-2 border-t">
      <span>Created by <a href="https://v-thomas.com/github" class="italic underline">Vincent Thomas</a></span>
    </footer>
  </body>
</html>

